---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import ButtonFilled from "../components/ButtonFilled.astro";
import ButtonFilled2 from "../components/ButtonFilled2.astro";
import ButtonFilled3 from "../components/ButtonFilled3.astro";
---

<BaseLayout title="accueil" description="#">
	<Header title="Cabinet d'ostéopathe" description="de Pierre TOURNEUX"></Header>

	<!-- Partie accès rapide -->
	<div class="container">
		<section class="rapidAccess">
			<!-- Première card "Contact" des trois cards dans cette section -->
			<div class="rapidAccessBox" id="rapidAccessBox1">
				<!-- Icone que contient la card -->
				<div class="containerBox">
					<div class="imgAccessBox">
						<img src="#" alt="Icone Contact">
					</div>
					<!-- Titre de la card en h3 -->
					<div>
						<h3>Contact</h3>
					</div>
					<!-- Description de la card -->
					<div>
						<p>Vous pouvez aussi nous joindre par téléphone en cliquant ci-dessous.</p>
					</div>
					<!-- Bouton de la card -->
					<div>
						<a href="#">
							<ButtonFilled2 title="APPELER"></ButtonFilled2>
						</a>	
					</div>
				</div>
				
			</div>
			<!-- Card numéro 2 "Rendez-vous" sur les trois cards -->
			<div class="rapidAccessBox" id="rapidAccessBox2">
				<!-- Icone de la card -->
				<div class="containerBox">
					<div class="imgAccessBox">
						<img src="#" alt="Icone Calendrier">
					</div>
					<!-- Titre de la card en h3 -->
					<div>
						<h3>Rendez-vous en ligne</h3>
					</div>
					<!-- Description de la card -->
					<div>
						<p>Vous pouvez prendre rendez-vous sur le site doctolib en cliquant ci-dessous.</p>
					</div>
					<div>
						<a href="#">
							<ButtonFilled title="RENDEZ-VOUS"></ButtonFilled>
						</a>
					</div>
				</div>
				<!-- Ombrage de la partie de droite de la card -->
				<div>

				</div>
			</div>
			<!-- Card numéro 3 "Horaire du cabinet" -->
			<div class="rapidAccessBox" id="rapidAccessBox3">
				<div class="containerBox">
					<!-- Icone de la card -->
					<div class="imgAccessBox">
						<img src="#" alt="Icone Horaire">
					</div>
					<!-- Titre de la card -->
					<div>
						<h3>Horaire du cabinet</h3>
					</div>
					<!-- Descriptionde de la card -->
					<div>
						<p>Le cabinet et le secrétariat sont ouverts du lundi au vendredi de 8h à 20h00 ainsi que le samedi de 8h à 19h.</p>
					</div>
					<!-- Bouton de la card -->
					<div>
						<a href="#">
							<ButtonFilled3 title="EN SAVOIRS PLUS"></ButtonFilled3>
						</a>	
					</div>
				</div>
				<!-- Ombrage de la partie de droite de la card -->
				<div>
		
				</div>
			</div>
		</section>

	<!-- Section "Vos Practiciens" -->
		<section class="vosPracticiens">
			<h2>Vos Practiciens</h2>
			<div class="containerCardPracticiens">
				<div class="containerCardPracticiens1">
					<a href="">
						<div class="blocBlurCard">

						</div>
					</a>	
				</div>	
				<div class="containerCardPracticiens1">
					<a href="">
						<div class="blocBlurCard">

						</div>
					</a>	
				</div>	
				<div class="containerCardPracticiens1">
					<a href="">
						<div class="blocBlurCard">

						</div>
					</a>	
				</div>	
			</div>
		</section>

		<!-- Section Cabinet -->
		<section>
			<div>
				<h2>Le Cabinet</h2>
			</div>
			<div>
				<p>Vous pourrez profiter du parking qu’offre le centre de santé dans lequel se situe le cabinet.</p>
			</div>
			<div>
				<!-- Intégration de la map -->
			</div>
			<div>
				<p>Le cabinet est situé au 67 route de Coutras, à Saint-Denis-de-Pile.</p>
			</div>
			<div>
				<a href="#">
					<ButtonFilled3 title="EN SAVOIRS PLUS"></ButtonFilled3>
				</a>
			</div>
		</section>
	</div>
</BaseLayout>

<style lang="scss">
    /*variable couleur*/
	$Orange: #CF6326;
	$BlueOne: #344E4C;
	$BlueTwo: #2A5855;
	$BlueThree: #21625E;

	/*def des textes*/
	h1{
		font-family: 'K2D', sans-serif;
	}
	h2{
		font-family: 'K2D', sans-serif;

		@media (min-width: 780px) {
			font-size: 48px;
		}
	}
	h3{
		font-family: 'K2D', sans-serif;
		font-size: 32px;
		margin: 0;
	}
	p{
		font-family: 'K2D', sans-serif;
		font-weight: 200;
		font-size: 14px;
		@media (min-width: 780px) {
			font-size: 18px;
		}
	}
		.container{
		margin-right: 4.6%;
		margin-left: 4.6%;
		max-width: 1550px;
	}
	/* Premier bloc de la page, le bloc d'accès rapide */ 
	.rapidAccess{
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-top: 200px;
		/*style de la première card de la section accès rapide*/
		.rapidAccessBox{
			max-width: 410px;
			height: 345px;
			display: flex;
			.containerBox{
				margin-left: 35px;
				color: #fff;
				background: linear-gradient(to right, transparent 75%, rgb(0, 0, 0, .40));
				.imgAccessBox{
					width: 70px;
					height: 70px;
					padding-top: 35px;
					img{
						width: 100%;
						height: 100%;
					}
				}
				p{
					width: 90%;
					height: 69px;
				}

			}
		}
		#rapidAccessBox1{
			background: $BlueOne;
			border-radius: 4px 0 0 4px;
		}
		#rapidAccessBox2{
			background: $BlueTwo;
		}
		#rapidAccessBox3{
			background: $BlueThree;
			border-radius: 0 4px 4px 0;
			.containerBox{
				border-radius: 0 4px 4px 0;
			}
		}
	}
	/* Le deuxième bloc, Vos practiciens*/
	.vosPracticiens{
		position: relative;
		padding: 200px 0;
		text-align: center;
		h2{
			padding-bottom: 64px;
		}
		.containerCardPracticiens{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 32px;
			@media (min-width: 810px) {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				gap: 64px;	
			}
			.containerCardPracticiens1{
				display: flex;
				align-items: flex-end;
				justify-content: center;
				width: 315px;
				height: 500px;
				background-image: url(/public/pierreTourneux.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				border-radius: 4px;
			}
			.blocBlurCard{
				width: 315px;
				height: 225px;
				background: rgb(52, 78, 76, .60);
				backdrop-filter: blur(6px);
				border-radius: 0 0 4px 4px;
			}
		}
	}

</style>
