---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import ButtonFilled from "../components/ButtonFilled.astro";
import ButtonFilled2 from "../components/ButtonFilled2.astro";
import ButtonFilledWhtie from "../components/ButtonFilledWhite.astro";
import ButtonFilledBlack from "../components/ButtonFilledBlack.astro";
---

<!-- Améliorer les performance de la map -->

<BaseLayout title="accueil" description="#">
	<Header title="Cabinet d'ostéopathe" description="de Pierre TOURNEUX"></Header>

	<!-- Partie accès rapide -->
	<div class="container">
		<section class="rapidAccess">
			<!-- Première card "Contact" des trois cards dans cette section -->
			<div class="rapidAccessBox" id="rapidAccessBox1">
				<!-- Icone que contient la card -->
				<div class="containerBox">
					<div class="imgAccessBox">
						<img src="#" alt="Icone Contact">
					</div>
					<!-- Titre de la card en h3 -->
					<div>
						<h3>Contact</h3>
					</div>
					<!-- Description de la card -->
					<div>
						<p>Vous pouvez aussi nous joindre par téléphone en cliquant ci-dessous.</p>
					</div>
					<!-- Bouton de la card -->
					<div class="btnCard">
						<a href="#">
							<ButtonFilled2 title="APPELER"></ButtonFilled2>
						</a>	
					</div>
				</div>
				
			</div>
			<!-- Card numéro 2 "Rendez-vous" sur les trois cards -->
			<div class="rapidAccessBox" id="rapidAccessBox2">
				<!-- Icone de la card -->
				<div class="containerBox">
					<div class="imgAccessBox">
						<img src="#" alt="Icone Calendrier">
					</div>
					<!-- Titre de la card en h3 -->
					<div>
						<h3>Rendez-vous en ligne</h3>
					</div>
					<!-- Description de la card -->
					<div>
						<p>Vous pouvez prendre rendez-vous sur le site doctolib en cliquant ci-dessous.</p>
					</div>
						<div class="btnCard">
						<a href="#">
							<ButtonFilled></ButtonFilled>
						</a>
					</div>
				</div>
				<!-- Ombrage de la partie de droite de la card -->
				<div>

				</div>
			</div>
			<!-- Card numéro 3 "Horaire du cabinet" -->
			<div class="rapidAccessBox" id="rapidAccessBox3">
				<div class="containerBox">
					<!-- Icone de la card -->
					<div class="imgAccessBox">
						<img src="#" alt="Icone Horaire">
					</div>
					<!-- Titre de la card -->
					<div>
						<h3>Horaire du cabinet</h3>
					</div>
					<!-- Descriptionde de la card -->
					<div>
						<p>Le cabinet et le secrétariat sont ouverts du lundi au vendredi de 8h à 20h00 ainsi que le samedi de 8h à 19h.</p>
					</div>
					<!-- Bouton de la card -->
					<div class="btnCard">
						<a href="#">
							<ButtonFilledWhtie></ButtonFilledWhtie>
						</a>	
					</div>
				</div>
				<!-- Ombrage de la partie de droite de la card -->
				<div>
		
				</div>
			</div>
		</section>

	<!-- Section "Vos Practiciens" -->
		<section class="vosPracticiens">
			<h2>Vos Practiciens</h2>
			<div class="containerCardPracticiens">
				<div class="containerCardPracticiens1">
						<div class="blocBlurCard">
							<h3> Gennifer DEMEY</h3>
							<p>Emensis itaque difficultatibus multis et nive obrutis callibus plurimis 
							ubi prope Rauracum ventum est ad supercilia flumini</p>
							<a href="#">
								<ButtonFilledWhtie></ButtonFilledWhtie>
							</a>
						</div>
				</div>	
				<div class="containerCardPracticiens1">
						<div class="blocBlurCard">
							<h3>Valentin PUYO</h3>
							<p>Emensis itaque difficultatibus multis et nive obrutis callibus plurimis 
							ubi prope Rauracum ventum est ad supercilia flumini</p>
							<a href="#">
								<ButtonFilledWhtie></ButtonFilledWhtie>
							</a>
						</div>
				</div>	
				<div class="containerCardPracticiens1">
						<div class="blocBlurCard">
							<h3>Melinda NOËL</h3>
							<p>Emensis itaque difficultatibus multis et nive obrutis callibus plurimis 
							ubi prope Rauracum ventum est ad supercilia flumini</p>
							<a href="#">
								<ButtonFilledWhtie></ButtonFilledWhtie>
							</a>
						</div>
				</div>	
			</div>
			<div class="infoPracticiens">
				<div>
					<p>Les consultations se font sur rendez-vous. Vos Ostéopathes assurent aussi les urgences.</p>
					<p>Le cabinet et le secrétariat sont ouverts du lundi au vendredi de 8h à 20h00 ainsi que le samedi de 8h à 19h.</p>
				</div>	
				<a href="#">
					<ButtonFilled></ButtonFilled>
				</a>
			</div>
		</section>

		<!-- Section Cabinet -->
		<section class="cabinetLieux">
			<div>
				<h2>Le Cabinet</h2>
			</div>
			<div>
				<p>Vous pourrez profiter du parking qu’offre le centre de santé dans lequel se situe le cabinet.</p>
			</div>
			<div>
				<!-- Améliorer les performance -->
				<iframe class="map responsiveMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3938.741471519222!2d-0.20438632283925354!3d44.98867987107011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd554cc66595d93b%3A0xc9e4d11c3cbd7af!2s67%20Rte%20de%20Coutras%2C%2033910%20Saint-Denis-de-Pile!5e1!3m2!1sfr!2sfr!4v1722115371219!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div> 
			<div>
				<p>Le cabinet est situé au 67 route de Coutras, à Saint-Denis-de-Pile.</p>
			</div>
			<div>
				<a href="#">
					<ButtonFilledBlack></ButtonFilledBlack>
				</a>
			</div>
		</section>
	</div>
</BaseLayout>

<style lang="scss">
    /*variable couleur*/
	$Orange: #FF9A60;
	$BlueOne: #344E4C;
	$BlueTwo: #2A5855;
	$BlueThree: #21625E;

	/*def des textes*/
	h1{
		font-family: 'K2D', sans-serif;
	}
	h2{
		font-family: 'K2D', sans-serif;

		@media (min-width: 780px) {
			font-size: 48px;
		}
	}
	h3{
		font-family: 'K2D', sans-serif;
		margin: 0;
		@media (min-width: 780px) {
			font-size: 32px;
		}
	}
	p{
		font-family: 'K2D', sans-serif;
		font-weight: 200;
		font-size: 14px;
		@media (min-width: 780px) {
			font-size: 18px;
		}
	}
		.container{
		margin-right: 4.6%;
		margin-left: 4.6%;
		max-width: 1550px;
	}
	/* Premier bloc de la page, le bloc d'accès rapide */ 
	.rapidAccess{
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-top: 100px;
		@media (min-width: 780px) {
			margin-top: 200px;
		}
		/*style de la première card de la section accès rapide*/
		.rapidAccessBox{
			display: flex;
			max-width: 287px;
			height: 241.5px;
			margin-bottom: 16px;
			@media (min-width: 780px) {
				max-width: 410px;
				height: 345px;
			}
			.containerBox{
				margin-left: 16px;
				color: #fff;
				background: linear-gradient(to right, transparent 75%, rgb(0, 0, 0, .40));
				@media (min-width: 780px) {
					margin-left: 35px;
				}
				.imgAccessBox{
					width: 40px;
					height: 40px;
					padding-top: 16px;
					padding-bottom: 16px;
					@media (min-width: 780px) {
					width: 70px;
					height: 70px;
					padding-top: 35px;
					}
					img{
						width: 100%;
						height: 100%;
					}
				}

				p{	
					height: auto;
					margin: 8px 0;
					width: 90%;
					@media (min-width: 780px) {
					height: 69px;
					}
				}
				.btnCard{
					@media (max-width: 780px) {
						margin-top: 32px;
					}
				}

			}
		}
		#rapidAccessBox1{
			background: $BlueOne;
			border-radius: 4px;
			@media (min-width: 648px) {
				border-radius: 4px 0 0 4px;
			}
			.containerBox{
				border-radius: 0 4px 4px 0;
				@media (min-width: 648px) {
					border-radius: 0;
				}
			}
		}
		#rapidAccessBox2{
			background: $BlueTwo;
			border-radius: 4px;
			@media (min-width: 648px) {
				border-radius: 0 4px 4px 0;
			}
			.containerBox{
				border-radius: 0 4px 4px 0;
				@media (min-width: 1200px) {
					border-radius: 0;
				}
			}
		}
		#rapidAccessBox3{
			background: $BlueThree;
			border-radius: 4px;
			@media (min-width: 1200px) {
				border-radius: 0 4px 4px 0;
			}
			.containerBox{
				border-radius: 0 4px 4px 0;
			}
		}
	}
	/* Le deuxième bloc, Vos practiciens*/
	.vosPracticiens{
		position: relative;
		padding: 200px 0;
		text-align: center;
		h2{
			padding-bottom: 64px;
		}
		.containerCardPracticiens{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 32px;
			@media (min-width: 810px) {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				gap: 64px;	
			}
			.containerCardPracticiens1{
				display: flex;
				align-items: flex-end;
				justify-content: center;
				width: 315px;
				height: 500px;
				background-image: url(/public/pierreTourneux.webp);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				border-radius: 4px;
			}
			.blocBlurCard{
				display: flex;
				flex-direction: column;
				justify-content: start;
				align-items:flex-start;
				width: 315px;
				height: 225px;
				background: rgb(52, 78, 76, .60);
				backdrop-filter: blur(6px);
				border-radius: 0 0 4px 4px;
				h3{
					margin: 8px 12px;
					color: #fff;
				}
				p{
					margin: 8px 12px;
					text-align: start;
					color: #fff;
				}
				a{
					margin: 0px 12px;
				}
			}
		}
		.infoPracticiens{
			div{
				padding-top: 32px;
				padding-bottom: 16px;
			}
		}
	}
	/* Le troisème bloc  */
	.cabinetLieux{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2{
			margin: 0;
			margin-bottom: 32px;
		}
		a{
			color: #000;
		}
		.map{
			border-radius: 4px;
		}
		.responsiveMap{
			@media (max-width: 668px) {
				width: 250px;
				height: 200px;
			}
		}
	}
</style>
