---

---

<footer>
    <div class="containerFooter">
        <div class="containerDivFooter">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="link_footer">
            <p>© Pierre TOURNEUX -<span id="date"></span></p>
            <a href="/mentionLegale">Mentions Légales</a>
        </div>
    </div>
</footer>

<style lang="scss">
    $White: #fff;
    $Black: #000;
    $Orange: #CF6326;
	$BlueOne: #344E4C;

    h1{
        font-family: 'K2D', sans-serif;
        color: $White;
    }
    h2{
        font-family: 'K2D', sans-serif;
        color: $White;
    }
    h3{
        font-family: 'K2D', sans-serif;
        color: $White;
    }
    p{
        font-family: 'K2D', sans-serif;
        color: $White;
    }
    a{
        font-family: 'K2D', sans-serif;
        color: $White;
    }


    .containerFooter{
        width: 100%;
        background: $BlueOne;
    }

</style>