---
import NavList from "./NavList.astro";
import Logo from "./Logo.astro";
---

<header class="mobile">
    <div class="logo">
        <Logo></Logo>
    </div>
        <button class="burgerBtn">
            <img class="burgerIcon" src="/assets/images/open_menu.webp" alt="icone menu fermé" >
            <img class="burgerIcon hidden"src="/assets/images/close_menu.webp" alt="icone menu ouvert">
        </button>
</header>
<div class="burgerContent">
    <NavList />
</div>

<script>

    const btn = document.querySelector<HTMLButtonElement>(".burgerBtn");
    const btnAll = document.querySelectorAll<HTMLButtonElement>(".burgerIcon");
    const burgerContent = document.querySelector<HTMLDivElement>(".burgerContent");
  
    if (btn && burgerContent) {    
    btn.addEventListener("click", () => {
      burgerContent.classList.toggle("isOpen");
      btnAll.forEach((element) => {
        element.classList.toggle("hidden");
    });
    })};
  </script>

<style lang="scss">
  $cream: #F4EEE0;
	$shadow: #030305;
	$greenforest: #00504D;
    .hidden {
      display: none;
    }
    .burgerIcon {
      width: 1rem;
      height: 20px;
    }
    .burgerBtn{
      top: 0;
      left: 0;
      right: 0;
    }
    .burgerContent {
      position: fixed;
      inset: 0;
      overflow: hidden;
      z-index: 19;
      transition: transform 0.2s ease-out;
      transform: translateX(100%);
      background-color: $cream;
      display: grid;
      place-items: center;
      z-index: 4;
      @media (min-width: 960px) {
        display: none;
      }
    }
  
    .isOpen {
      transform: translateX(0);
    }
  
    .mobile {
      position: fixed;
      z-index: 20;
      top: 0;
      left: 0;
      right: 0;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $cream;
      @media (min-width: 960px) {
        display: none;
      }
      img {
        width: 2rem;
        height: 2rem;
        max-width: none;
      }
      .logo{
        .logo-text{
        font-size: 36px;
        font-family: 'Almarai', sans-serif;
			  font-weight: bold;
			  color: $shadow;
        text-decoration: none;
        }
      }
      button {
        background-color: transparent;
        border: none;
      }
    }
  </style>