---
import MobileHeader from "../components/MobileHeader.astro";
import SideBar from "../components/SideBar.astro";
import Header from "../components/Header.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
		<!--Google font K2D -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=K2D:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
		
		<meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
		<section class="container">
        <MobileHeader />
		<SideBar />
		<slot />
		</section>
        <footer>
            <div class="link_footer">
                <p>© Pierre TOURNEUX -<span id="date"></span></p>
                <a href="/mentionLegale">Mentions Légales</a>
            </div>
        </footer>

        <script>
			const dateElement = document.getElementById("date");
			if (dateElement) {
   			    dateElement.textContent = new Date().getFullYear().toString();
			};
		</script>

		<!--bouton return to top -->
		<script>
			const btn = document.getElementById("return-to-top");

			if (btn){
			btn.addEventListener('click', () => {
			window.scrollTo({
			top: 0,
			behavior: 'smooth' // Pour un défilement fluide
			});

			})};
		</script>

    </body>
</html>

<!--Mobile First -->

<style lang="scss">
	//Déclaration des variables couleur
	$Orange: #CF6326;
	//container
	html{
		width: 100vw;
	}
	.container{
		margin-right: 4.6%;
		margin-left: 4.6%;
	}

	
</style>